---
import BaseLayout from "src/layouts/BaseLayout.astro";
import CTA from "@components/CTA.astro";
import Landing from "@components/Landing.astro";
import FAQ from "@components/FAQ.astro";
import { Picture } from "astro:assets";
import leftImage from "@assets/images/about/left.jpg";
import rightImage from "@assets/images/about/right.jpg";

import { getOptimizedImage } from "@libs/utils";
import landingImage from "@assets/images/landing.jpg";
const optimizedImage = await getOptimizedImage(landingImage);
---

<BaseLayout
  title="About Us"
  description="Learn about the story behind Anne's Coffee Bar, a café in Camp, Ireland, built on sustainability, creativity, and community. Discover how we transformed a historic space into a warm retreat with locally sourced treats and freshly brewed coffee."
  preloadedImage={optimizedImage}
>
  <Landing title="About Us" image={landingImage} />
  <section id="sbs-1014">
    <div class="cs-container">
      <!-- Left Image Section -->
      <div class="cs-image-group">
        <div class="cs-picture cs-picture1">
          <Picture src={leftImage} alt="Cafe Staff" formats={["webp", "avif"]} loading="eager" width={498}
            height={557}
            sizes="(max-width: 600px) 90vw, (max-width: 840px) 1024px, (max-width: 1200px) 50vw, 498px" />
        </div>
        <div class="cs-picture cs-picture2">
          <Picture src={rightImage} alt="Cafe Friends" formats={["webp", "avif"]} width={514}
            height={436}
            sizes="(max-width: 600px) 60vw, (max-width: 1200px) 274px, 390px" />
        </div>
      </div>
      <!-- Right Content Section-->
      <div class="cs-content">
        <span class="cs-topper">About Us</span>
        <h2 class="cs-title">Anne's Coffee Bar</h2>
        <p class="cs-text">
          At Anne's Coffee Bar, we believe in creating a cozy and welcoming space where everyone feels at home. Nestled in the heart of Camp Village, at the foot of the stunning Slieve Mish mountains, our café is a retreat for locals and travelers alike. Whether you're stopping by for your morning coffee, enjoying a stack of fluffy pancakes, or simply seeking a warm corner to unwind, we're here to make your day a little brighter.
        </p>
        <p class="cs-text">
          From the moment we open our doors, the fire is on, providing a warm and inviting ambiance no matter the weather. It's not just about coffee or home-baked treats - it's about creating memories and fostering connections.
        </p>
        <p class="cs-text">
          Our story began in 2021, during the height of the pandemic, when we transformed a forgotten space into a thriving café filled with laughter, warmth, and the scent of freshly brewed coffee. With a commitment to sustainability and locally sourced ingredients, we take pride in offering a menu that reflects both quality and care.
        </p>
        <div class="cs-quote">
          <span class="cs-quote-text">
            We've created more than a café - it's a space where great coffee, good food, and genuine connections come together.
          </span>
          <span class="cs-name">Anne O'Sullivan</span>
          <span class="cs-job">Owner</span>
          <img
            src="/assets/svgs/quote-white.svg"
            class="cs-quote-icon"
            loading="lazy"
            alt="gavel"
            width="136"
            height="77"
          />
        </div>
      </div>
    </div>
  </section>
  <CTA />
</BaseLayout>

<style lang="less">
  /*-- -------------------------- -->
<---          Banner            -->
<--- -------------------------- -*/

  /* Mobile - 360px */
  @media only screen and (min-width: 0em) {
    #banner-1014 {
      padding: 0 (16/16rem);
      /* 160px - 245px */
      padding-top: clamp(10rem, 25vw, 15.3125rem);
      padding-bottom: (120/16rem);
      background-color: #000;
      position: relative;
      z-index: 1;

      .cs-container {
        text-align: center;
        width: 100%;
        max-width: (1280/16rem);
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }

      .cs-picture {
        width: 100%;
        margin: 0 0 (12/16rem);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: (16/16rem);
        position: relative;

        &:before {
          /* left line */
          content: "";
          width: 50%;
          max-width: (150/16rem);
          height: 1px;
          background: #b4b2c7;
          opacity: 1;
          position: relative;
          display: block;
        }

        &:after {
          /* right line */
          content: "";
          width: 50%;
          max-width: (150/16rem);
          height: 1px;
          background: #b4b2c7;
          opacity: 1;
          position: relative;
          display: block;
        }
      }

      .cs-icon {
        width: 40%;
        /* 100px - 180px */
        max-width: clamp(6.25rem, 18vw, 11.25rem);
        height: auto;
        /* prevents flexbox from squishing it */
        flex: none;
      }

      .cs-int-title {
        /* 39px - 61px */
        font-size: clamp(2.4375rem, 6.5vw, 3.8125rem);
        font-weight: 900;
        line-height: 1.2em;
        text-align: center;
        max-width: (700/16rem);
        margin: 0 0 (16/16rem) 0;
        color: var(--bodyTextColorWhite);
        position: relative;
      }

      .cs-text {
        color: var(--bodyTextColorWhite);
      }

      .cs-background {
        width: 100%;
        height: 100%;
        opacity: 0.7;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        z-index: -1;

        &:before {
          /* black overlay box */
          content: "";
          width: 100%;
          height: 100%;
          background: #000;
          opacity: 0.72;
          position: absolute;
          display: block;
          top: 0;
          left: 0;
          z-index: 1;
        }

        img {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }

  /*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    #sbs-1014 {
      padding: var(--sectionPadding);
      background-color: #f7f7f7;

      .cs-container {
        width: 100%;
        max-width: (1280/16rem);
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
      }

      .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: left;
        width: 100%;
        max-width: (542/16rem);
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: flex-start;
      }

      .cs-text {
        font-size: var(--bodyFontSize);
        line-height: 1.5em;
        text-align: inherit;
        width: 100%;
        max-width: (650/16rem);
        margin: 0;
        color: var(--bodyTextColor);
      }

      .cs-text {
        margin-bottom: (16/16rem);
        &:last-of-type {
          margin-bottom: (32/16rem);
        }
      }

      .cs-quote {
        margin: 0 0 (32/16rem) 0;
        /* 16px - 32px */
        padding: clamp(1rem, 3vw, 2rem);
        background-color: var(--primary);
        position: relative;
        border-radius: 1rem;
      }

      .cs-quote-text {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 1.5vw, 1rem);
        line-height: 1.5em;
        margin: 0 0 (16/16rem);
        color: var(--bodyTextColorWhite);
        display: block;
      }

      .cs-name {
        font-size: (16/16rem);
        line-height: 1.2em;
        text-transform: uppercase;
        font-weight: bold;
        margin: 0 0 (4/16rem);
        color: var(--secondary);
        display: block;
      }

      .cs-job {
        font-size: (14/16rem);
        line-height: 1.5em;
        color: var(--bodyTextColorWhite);
        display: block;
      }

      .cs-quote-icon {
        /* 60px - 136px */
        width: clamp(3.75rem, 10vw, 8.5rem);
        height: auto;
        position: absolute;
        bottom: (0/16rem);
        /* 16px - 32px */
        right: clamp(1rem, 4vw, 2rem);
      }

      .cs-image-group {
        /* scaling the font size with the view width */
        font-size: ~"min(2.31vw, .7em)";
        /* using ems so we can use font size to scale the whole section */
        width: (631/16em);
        height: (636/16em);
        position: relative;
      }

      .cs-picture {
        position: absolute;
        display: block;
        border-radius: 1rem;
        img {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          border-radius: 1rem;
          /* makes image act like a background image */
          object-fit: cover;
        }
      }

      .cs-picture1 {
        width: (522/16em);
        height: (581/16em);
        left: 0;
        top: 0;
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 40px;
        /* 6px - 12px */
        border: clamp(0.375em, 1.5vw, 0.75em) solid #fff;
      }

      .cs-picture2 {
        width: (414/16em);
        height: (400/16em);
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 40px;
        /* 6px - 12px */
        border: clamp(0.375em, 1.5vw, 0.75em) solid #fff;
        right: 0;
        bottom: 0;
      }
    }
  }

  /* Desktop - 1024px */
  @media only screen and (min-width: 64rem) {
    #sbs-1014 {
      .cs-container {
        flex-flow: row;
        justify-content: space-between;
        gap: (52/16rem);
      }

      .cs-image-group {
        font-size: ~"min(1.2vw, 1em)";
        flex: none;
      }

      .cs-content {
        margin: 0;
      }
    }
  }

  /*-- -------------------------- -->
<---            CTA             -->
<--- -------------------------- -*/

  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    #cta-1014 {
      padding: var(--sectionPadding);

      .cs-container {
        width: 100%;
        max-width: (1280/16rem);
        margin: auto;
        /* 32px - 88px top & bottom */
        /* 24px - 88px left & right */
        padding: clamp(2em, 6.3vw, 5.5em) clamp(1.5em, 5.7vw, 5.5em);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: (32/16rem);
        position: relative;
        /* clips the corners for the border radius to show */
        overflow: hidden;
        z-index: 1;
        /* prevents padding from adding to height and width */
        box-sizing: border-box;
      }

      .cs-background {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        z-index: -1;

        &:before {
          /* black overlay */
          content: "";
          width: 100%;
          height: 100%;
          background: #000;
          opacity: 0.8;
          position: absolute;
          display: block;
          top: 0;
          left: 0;
          z-index: 1;
        }

        img {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }

      .cs-left-section {
        max-width: (434/16rem);
      }

      .cs-title {
        /* 25px - 49px */
        font-size: clamp(1.5625rem, 3.9vw, 3.0625rem);
        font-weight: 900;
        line-height: 1.2em;
        text-align: left;
        max-width: (800/16rem);
        /* 20px - 48px */
        margin: 0 auto clamp(1.25rem, 4.7vw, 3rem);
        color: var(--bodyTextColorWhite);
        position: relative;
      }

      .cs-button-solid {
        font-size: (16/16rem);
        /* 46px - 56px */
        line-height: clamp(2.875em, 5.5vw, 3.5em);
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        margin: auto;
        color: #fff;
        min-width: (150/16rem);
        padding: 0 (32/16rem);
        background-color: var(--primary);
        display: inline-block;
        position: relative;
        z-index: 1;
        /* prevents padding from adding to the width */
        box-sizing: border-box;

        &:before {
          content: "";
          position: absolute;
          height: 100%;
          width: 0%;
          background: #000;
          opacity: 1;
          top: 0;
          left: 0;
          z-index: -1;
          transition: width 0.3s;
        }

        &:hover {
          &:before {
            width: 100%;
          }
        }
      }

      .cs-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        /* 12px - 20px */
        gap: clamp(0.75rem, 1.6vw, 1.25rem);
      }

      .cs-header {
        /* 20px - 25px */
        font-size: clamp(1.25rem, 2.4vw, 1.5625rem);
        font-weight: bold;
        color: var(--primary);
        display: block;
      }

      .cs-p {
        /* 14px - 20px */
        font-size: clamp(0.875rem, 1.5vw, 1.25rem);
        line-height: 1.5em;
        margin: 0;
        color: var(--bodyTextColorWhite);
      }
    }
  }

  /* Tablet - 768px */
  @media only screen and (min-width: 48rem) {
    #cta-1014 {
      .cs-container {
        flex-direction: row;
        justify-content: space-between;
      }

      .cs-content {
        align-items: flex-end;
        text-align: right;
        /* prevents flexbox from squishing it */
        flex: none;
      }
    }
  }
</style>
