---
import BaseLayout from "src/layouts/BaseLayout.astro";
import CTA from "@components/CTA.astro";
import clientData from "@data/client.json";

// Optimize our landing image and pass it as props to the BaseLayout (for preloading) and Landing (for rendering)
import { getOptimizedImage } from "@libs/utils";
import landingImage from "@assets/images/landing.jpg"; // <-- THE PATH TO THE ASSET YOU WANT TO PRELOAD - The asset must live in src
import SideBySide from "@components/SideBySide.astro";
import SBSPair from "@components/SBSPair.astro";
import Gallery from "@components/Gallery.astro";
import Testimonial from "@components/Testimonial.astro";
const optimizedImage = await getOptimizedImage(landingImage);
---

<BaseLayout
  title="Pixel Perfect Websites"
  description="Meta description for the page"
  preloadedImage={optimizedImage}
>
  <!-- ============================================ -->
  <!--                    Hero                      -->
  <!-- ============================================ -->

  <section id="hero-998">
    <div class="cs-container">
      <div class="cs-content">
        <div class="cs-tag-group">
          <div class="cs-tag-left"></div>
          <span class="cs-tag">Welcome to</span>
          <div class="cs-tag-right"></div>
        </div>
        <!--Logo-->
        <picture class="cs-logo">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/logo_white.png"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/logo_white.png"
          />
          <img
            decoding="async"
            src="/assets/images/logo_white.png"
            alt="Stitch House Restaurant"
            width="614"
            height="166"
          />
        </picture>
        <p class="cs-text">
          Indulge in our exquisite range of home-baked treats and freshly brewed
          coffee, all served in a cozy, welcoming space nestled at the foot of
          the stunning Slieve Mish mountain range.
        </p>
        <p class="cs-text">
          <strong>Open:</strong>
          {clientData.openingHours.days}
          <br />
          {clientData.openingHours.hours}
        </p>
        <a href="/menu" class="cs-button-solid">See Our Menu</a>
      </div>
    </div>
    <!--Background Image-->
    <!--Image is also set as background image in CSS at 1400px for parallax effect-->
    <picture class="cs-background">
      <source media="(max-width: 600px)" srcset="/assets/images/landing.jpg" />
      <source media="(min-width: 601px)" srcset="/assets/images/landing.jpg" />
      <img
        decoding="async"
        src="/assets/images/landing.jpg"
        alt="logo"
        width="1920"
        height="1000"
      />
    </picture>
  </section>

  <SideBySide />

  <SBSPair />

  <Gallery />

  <Testimonial />

  <CTA />
</BaseLayout>

<style lang="less">
  /*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    #hero-998 {
      min-height: 100vh;
      /* 144px - 280px */
      padding: clamp(9rem, 25.95vw, 17.5rem) 1rem;
      /* prevents padding and border from affecting height and width */
      box-sizing: border-box;
      position: relative;
    }

    #hero-998 .cs-tag {
      font-size: clamp(1rem, 2.3vw, 1.9375rem);
      line-height: 1.2em;

      color: var(--bodyTextColorWhite);
      display: block;
      flex-shrink: 0;
    }

    #hero-998 .cs-tag-group {
      max-width: 100%;
      justify-content: center;
      align-items: center;
      position: relative;
      gap: 1rem;
      margin: 0 0 clamp(0.75rem, 3vw, 1.5rem);
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    #hero-998 .cs-tag-left,
    #hero-998 .cs-tag-right {
      overflow: hidden;
      width: auto;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    #hero-998 .cs-tag-left {
      content: url("/assets/svgs/fancy-line-l.svg");
      height: 100%;
      opacity: 1;
      position: relative;
    }

    #hero-998 .cs-tag-right {
      content: url("/assets/svgs/fancy-line-r.svg");
      width: auto;
      opacity: 1;
      height: 100%;
      position: relative;
    }
    #hero-998 .cs-container {
      width: 100%;
      max-width: 80rem;
      margin: auto;
    }
    #hero-998 .cs-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    #hero-998 .cs-topper {
      /* 16px - 31px */
      font-size: clamp(1rem, 4.3vw, 1.9375rem);
      white-space: nowrap;
      line-height: 1.2em;
      width: 100%;
      /* 12px - 24px */
      margin: 0 0 clamp(0.75rem, 3vw, 1.5rem);
      color: var(--bodyTextColorWhite);
      display: inline-flex;
      justify-content: center;
      align-items: center;
      position: relative;
      gap: 1rem;
    }
    #hero-998 .cs-topper:before {
      /* left line */
      content: "";
      width: 100%;
      max-width: 6.25rem;
      height: 2px;
      background: var(--bodyTextColorWhite);
      opacity: 1;
      position: relative;
      display: block;
    }
    #hero-998 .cs-topper:after {
      /* right line */
      content: "";
      width: 100%;
      max-width: 6.25rem;
      height: 2px;
      background: var(--bodyTextColorWhite);
      opacity: 1;
      position: relative;
      display: block;
    }
    #hero-998 .cs-logo {
      width: 100%;
      max-width: 13.375rem;
      margin: 0 0 1.5rem 0;
      display: block;
    }
    #hero-998 .cs-logo img {
      width: 100%;
      height: auto;
    }
    #hero-998 .cs-text {
      /* 16px - 20px */
      font-size: clamp(1rem, 1vw, 1.25rem);
      line-height: 1.5em;
      text-align: center;
      max-width: 32.375rem;
      /* 24px - 48px */
      margin: 0 0 clamp(1.5rem, 3vw, 3rem) 0;
      color: var(--bodyTextColorWhite);
    }
    #hero-998 .cs-button-solid {
      font-size: 1rem;
      /* 46px - 56px */
      line-height: clamp(2.875em, 5.5vw, 3.5em);
      text-decoration: none;
      font-weight: 700;
      text-align: center;
      margin: auto;
      color: #fff;
      min-width: 9.375rem;
      padding: 0 2rem;
      background-color: var(--secondary);
      display: inline-block;
      position: relative;
      z-index: 1;
      /* prevents padding from adding to the width */
      box-sizing: border-box;
      transition: color 0.3s;
    }
    #hero-998 .cs-button-solid:before {
      content: "";
      position: absolute;
      height: 100%;
      width: 0%;
      background: #fff;
      opacity: 1;
      top: 0;
      left: 0;
      z-index: -1;
      transition: width 0.3s;
    }
    #hero-998 .cs-button-solid:hover {
      color: #1a1a1a;
    }
    #hero-998 .cs-button-solid:hover:before {
      width: 100%;
    }
    #hero-998 .cs-background {
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
    #hero-998 .cs-background:before {
      /* background color overlay */
      content: "";
      position: absolute;
      display: block;
      height: 100%;
      width: 100%;
      background: #000;
      opacity: 0.6;
      top: 0;
      left: 0;
      z-index: 1;
    }
    #hero-998 .cs-background img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      /* Makes img tag act as a background image */
      object-fit: cover;
    }
  }
  /* Desktop Parallax - 1400px */
  @media only screen and (min-width: 87.5rem) {
    body #hero-998 .cs-logo {
      max-width: 20.375rem;
    }
    #hero-998 .cs-background {
      background: url("/assets/images/landing.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      /* makes parallax effect */
      background-attachment: fixed;
    }
    #hero-998 .cs-background img {
      display: none;
    }
  }

  /*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

  /* Mobile */
  @media only screen and (min-width: 0em) {
    .services {
      width: 90%;
      max-width: (1320/16em);
      margin: auto;
      margin-top: (-167/16em);
      margin-bottom: (50/16em);
      padding: (50/16em) (20/16em);
      background: #fff;
      box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
      border-top: (6/16em) solid var(--primary);
      border-radius: (5/16em);
      position: relative;
      z-index: 100;
      .card {
        width: 100%;
        max-width: (357/16em);
        margin: auto;
        margin-bottom: (50/16em);
        display: block;
        &:last-of-type {
          margin-bottom: 0;
        }

        picture {
          width: (88/16em);
          height: (88/16em);
          margin: auto;
          margin-bottom: (23/16em);
          background: var(--primary);
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            width: (48/16em);
            height: (48/16em);
          }
        }
        h2 {
          font-size: (32/16em);
          font-weight: 700;
          line-height: 27/20em;
          text-align: center;
          margin-bottom: 13/20em;
          color: #1a1a1a;
        }
        p {
          line-height: 24/18em;
          text-align: center;
          width: 100%;
          opacity: 0.7;
        }
      }
    }
  }

  /* Inbetween */
  @media only screen and (min-width: 768px) {
    .services {
      font-size: ~"min(1.8vw, 1em)";
      width: 98%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      .card {
        max-width: (325/16em);
        margin: 0;
      }
    }
  }

  /* Large Desktop */
  @media only screen and (min-width: 1300px) {
    .services {
      padding: (50/16em) (80/16em);

      .card {
        max-width: (357/16em);
      }
    }
  }

  /* Dark mode */
  @media only screen and (min-width: 0em) {
    body.dark-mode {
      #services {
        background: var(--medium);

        picture {
          background: var(--primaryDark);
        }

        h2 {
          font-weight: bold;
          color: #fff;
        }
      }
    }
  }

  /* PAGE-SPECIFIC STYLES FOR THE HOME PAGE */

  /*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

  /* Mobile - 360px */
  @media only screen and (min-width: 0em) {
    #reviews {
      /* Centers the button */
      text-align: center;
      padding: var(--sectionPadding);

      .cs-container {
        width: 100%;
        max-width: (1104/16rem);
        margin: auto;
      }

      .cs-topper {
        text-align: center;
        margin-bottom: (16/16rem);
      }

      .cs-title {
        text-align: center;
        max-width: (700/16rem);
      }

      .cs-text {
        text-align: center;
        max-width: (650/16rem);
        /* 88px - 104px */
        margin-bottom: clamp(5.5em, 10.2vw, 6.5em);
      }

      .cs-card-group {
        /* 48px - 64px */
        margin: 0 auto clamp(3rem, 5vw, 4rem);
        padding: 0;
      }

      .cs-item {
        text-align: left;
        list-style: none;
        width: 100%;
        max-width: (542/16rem);
        margin: 0 auto (64/16rem);
        /* Prevents padding from affecting height & width */
        box-sizing: border-box;
        /* Padding L & R - 16px - 32px */
        padding: (60/16rem) clamp(1rem, 3.2vw, 2rem) 0;
        /* 32px - 40px */
        padding-bottom: clamp(2rem, 5.4vw, 2.5rem);
        background: #fff;
        box-shadow: 0px 20px 39px 0px rgba(0, 0, 0, 0.05);
        border-radius: (4/16rem);
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        position: relative;

        &:last-of-type {
          margin-bottom: 0;
        }
      }

      .cs-item-img {
        width: (80/16rem);
        height: (80/16rem);
        position: absolute;
        top: (-40/16rem);
      }

      .cs-item-p {
        font-size: (16/16rem);
        line-height: 1.5em;
        margin: 0 0 (20/16rem);
        padding-bottom: (20/16rem);
        color: var(--bodyTextColor);
        border-bottom: 1px solid #e8e9ec;
      }

      .cs-reviewer {
        font-size: (16/16rem);
        font-weight: 700;
        line-height: 1.5em;
        width: 40%;
        margin: 0 auto 0 0;
        color: var(--headerColor);
        display: block;
      }

      .cs-desc {
        font-size: (14/16rem);
        font-weight: 400;
        color: var(#353535);
        display: block;
      }

      .cs-item-stars {
        width: (96/16rem);
        height: (16/16rem);
      }
    }
  }

  /* Tablet - 768px */
  @media only screen and (min-width: 48em) {
    #reviews {
      .cs-card-group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: (16/16rem);
      }

      .cs-item {
        /* reset margin so it won't interfere with flexbox */
        margin: 0;
      }
    }
  }

  /* Dark Mode */
  @media only screen and (min-width: 0em) {
    body.dark-mode {
      #reviews {
        .cs-title,
        .cs-text,
        .cs-item-p,
        .cs-reviewer {
          color: var(--bodyTextColorWhite);
        }

        .cs-item {
          background: var(--medium);
        }

        .cs-desc {
          color: var(--primaryLight);
        }
      }
    }
  }
</style>
