---
import clientData from "@data/client.json";
import { Picture } from "astro:assets";
import ctaImg from "@assets/images/CTA/cta.jpg";
---

<!-- ============================================ --><!--                  Subscribe                   --><!-- ============================================ -->
<section id="subscribe-1719">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Come Visit Us </span>
            <h2 class="cs-title">Opening Hours</h2>
            <p class="cs-text">{clientData.openingHours.days}</p>
            <p class="cs-text">{clientData.openingHours.hours}</p>
            <button class="cs-button-solid">See Menu</button>
            <!--Graphic-->
            <img
                class="cs-floater"
                loading="lazy"
                decoding="async"
                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/white-spiral.svg"
                alt="graphic"
                width="1920"
                height="486"
                aria-hidden="true"
            />
        </div>
    </div>
    <!--Background Image-->
    <div class="cs-background">
        <Picture
            src={ctaImg}
            alt="cta"
            formats={["webp", "avif"]}
            aria-hidden="true"
            width={941}
            height={454}
            sizes="50vw"
        />
    </div>
</section>

<style lang="less">
    /*-- -------------------------- -->
<---         Subscribe          -->
<--- -------------------------- -*/

    /* Mobile - 360px */
    @media only screen and (min-width: 0rem) {
        #subscribe-1719 {
            background-color: var(--backgroundColor);
            overflow: hidden;
            display: flex;
            flex-direction: column;
            position: relative;
            z-index: 1;

            .cs-container {
                width: 100%;
                /* changes to 1312px at tablet */
                max-width: (550/16rem);
                margin: auto;
                padding: var(--sectionPadding);
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                align-items: center;
                /* 48px - 64px */
                gap: clamp(3rem, 6vw, 4rem);
            }

            .cs-content {
                /* set text align to left if content needs to be left aligned */
                text-align: left;
                width: 100%;
                max-width: (630/16rem);
                display: flex;
                flex-direction: column;
                /* centers content horizontally, set to flex-start to left align */
                align-items: flex-start;
                position: relative;
                z-index: 1;
            }

            .cs-title {
                max-width: 20ch;
            }

            .cs-text {
                margin-bottom: (16/16rem);
                &:last-of-type {
                    margin-bottom: (32/16rem);
                }
            }

            .cs-form {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: (16/16rem);
            }

            .cs-input {
                font-size: (16/16rem);
                width: 100%;
                height: clamp(2.875rem, 5.5vw, 3.5rem);
                margin: 0;
                padding: 0;
                padding-left: (20/16rem);
                border: none;
                /* prevents padding from adding to width and height */
                box-sizing: border-box;
                display: block;
                &::placeholder {
                    color: #767676;
                }
            }

            .cs-button-solid {
                font-size: (16/16rem);
                /* 46px - 56px */
                line-height: clamp(2.875rem, 5.5vw, 3.5rem);
                text-decoration: none;
                font-weight: 700;
                text-align: center;
                margin: 0;
                color: #fff;
                min-width: (150/16rem);
                padding: 0 (24/16rem);
                background-color: var(--primary);
                display: inline-block;
                position: relative;
                z-index: 1;
                /* prevents padding from adding to the width */
                box-sizing: border-box;

                &:before {
                    content: "";
                    position: absolute;
                    height: 100%;
                    width: 0%;
                    background: #000;
                    opacity: 1;
                    top: 0;
                    left: 0;
                    z-index: -1;
                    transition: width 0.3s;
                }

                &:hover {
                    &:before {
                        width: 100%;
                    }
                }
            }

            .cs-submit {
                width: 100%;
                border: none;
                color: var(--bodyTextColorWhite);
            }

            .cs-background {
                width: 100%;
                height: 100vw;
                max-height: (400/16rem);
                display: block;
                order: -1;
                position: relative;
                z-index: 2;

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    object-position: bottom;
                }
            }

            .cs-floater {
                /* 296px - 450px */
                width: clamp(18.5rem, 35vw, 28.125rem);
                height: auto;
                mix-blend-mode: soft-light;
                position: absolute;
                right: (-129/16rem);
                top: (-150/16rem);
                z-index: -1;
            }
        }
    }

    /* Tablet - 768px */
    @media only screen and (min-width: 48rem) {
        #subscribe-1719 {
            flex-direction: row;
            align-items: stretch;

            .cs-container {
                max-width: (1312/16rem);
                align-items: flex-start;
            }

            .cs-content {
                width: 45vw;
                max-width: (630/16rem);
            }

            .cs-background {
                width: 50%;
                max-height: 100%;
                height: 100%;
                position: absolute;
                left: 50%;
            }
        }
    }

    /* Desktop - 1024px */
    @media only screen and (min-width: 64rem) {
        #subscribe-1719 {
            .cs-content {
                /* remove the positioning so the cs-floater is now absolutely positioned to the nearest parent that has a declared position relative, which is the section parent */
                position: initial;
            }

            .cs-form {
                flex-direction: row;
            }

            .cs-button-solid {
                width: auto;
            }

            .cs-floater {
                top: 50%;
                left: (-200/16rem);
                transform: translateY(-50%);
            }
        }
    }

    /* Large Desktop - 1300px */
    @media only screen and (min-width: 81.25rem) {
        #subscribe-1719 {
            .cs-content {
                width: 100%;
            }

            .cs-background {
                margin-left: (118/16rem);
            }
        }
    }
</style>
