---
import client from "@data/client.json";
import { Picture, Image } from "astro:assets";
import logoIcon from "@assets/images/logo_icon.png";
import image1 from "@assets/images/features/image1.png";
import image2 from "@assets/images/features/image2.png";
import image3 from "@assets/images/features/image3.jpg";
import CalendarIcon from "@assets/icons/calendar.astro";
import CommunityIcon from "@assets/icons/community.astro";
import CloudIcon from "@assets/icons/cloud.astro";
import RetreatIcon from "@assets/icons/retreat.astro";
---

<!-- ============================================ --><!--                   Steps                      --><!-- ============================================ -->
<section id="sbsr-2202">
    <div class="cs-container">
        <div class="cs-content">
            <div class="flex items-center gap-4 mb-4">
                <Image src={logoIcon} alt="logo" width={32} height={32} />
                <span class="cs-topper mb-0 text-header-secondary"
                    >Features</span
                >
            </div>
            <h2 class="cs-title">
                How Breathwave Supports Your Transformation
            </h2>
            <p class="cs-text">
                Breathwave offers live, weekly guided breathwork sessions,
                access to a growing library of recorded classes, and a
                supportive community of like-minded individuals. Whether you're
                seeking emotional balance, athletic recovery, or relief from
                daily stress, our offerings are designed to help you unlock your
                true potential. Through conscious breathwork, you can develop
                greater mental clarity, emotional resilience, and a deeper
                connection to your inner self.
            </p>
            <p class="cs-text">
                Unlock your potential whether you're seeking a deeper insight to
                your emotional harmony in your physical wellness & recovery. To
                uncover the layers within that are ready for you to know them.
                To quieten the mind and tame your ego. Your breath practice is a
                channel to your self awareness. Join us on this journey of
                self-discovery and healing through the rhythm of your own
                breath.
            </p>
        </div>
        <div class="cs-image-group">
            <!--Main Image-->
            <div class="cs-picture cs-picture1">
                <Picture
                    src={image3}
                    alt="Breathwave Ireland"
                    formats={["avif", "webp"]}
                    width={546}
                    height={647}
                    sizes="(max-width: 600px) 80vw, (max-width: 1200px) 50vw, 546px"
                />
            </div>
            <!--Small Image-->
            <div class="cs-picture cs-picture2">
                <Picture
                    src={image1}
                    alt="Breathwave Ireland"
                    formats={["avif", "webp"]}
                    width={345}
                    height={532}
                    sizes="(max-width: 600px) 50vw, (max-width: 1200px) 50vw, 345px"
                />
            </div>
        </div>
    </div>
</section>
<section id="steps-1674">
    <div class="cs-container">
        <!-- <div class="cs-content">
            <span class="cs-topper">Our Steps</span>
            <h2 class="cs-title">
                How Breathwave Ireland Supports Your Transformation
            </h2>
            <p class="cs-text">
                Join us on a transformative journey with our step-by-step guide
                to enhance your well-being.
            </p>
        </div> -->
        <ul class="cs-card-group">
            <li class="cs-item">
                <span class="cs-number"
                    ><CalendarIcon
                        width={45}
                        height={45}
                        fill="#214497"
                    /></span
                >
                <h3 class="cs-h3">Weekly Live Breathwork Sessions</h3>
                <p class="cs-item-text">
                    Join our live, guided breathwork sessions each week to gain
                    insights, emotional balance, and deepen your practice with
                    real-time support.
                </p>
            </li>
            <li class="cs-item">
                <span class="cs-number"
                    ><CloudIcon width={45} height={45} fill="#214497" /></span
                >
                <h3 class="cs-h3">Downloadable Sessions</h3>
                <p class="cs-item-text">
                    Get access to a library of downloadable breathwork sessions,
                    allowing you to practice anytime, anywhere, whether at home
                    or on the go. Breath reveals always available.
                </p>
            </li>
            <li class="cs-item">
                <span class="cs-number"
                    ><CommunityIcon
                        width={60}
                        height={60}
                        fill="#214497"
                    /></span
                >
                <h3 class="cs-h3">Supportive Community</h3>
                <p class="cs-item-text">
                    Become part of a growing community of like-minded
                    individuals who are on the same journey. Share experiences,
                    insights, and encouragement with others dedicated to
                    personal growth.
                </p>
            </li>
            <li class="cs-item">
                <span class="cs-number"
                    ><RetreatIcon width={45} height={45} fill="#214497" /></span
                >
                <h3 class="cs-h3">Workshops and Special Events</h3>
                <p class="cs-item-text">
                    Deepen your breathwork experience through exclusive
                    workshops and events designed to further support your
                    journey. These sessions provide focused teachings on
                    specific areas of growth.
                </p>
            </li>
        </ul>
    </div>
</section>
<style lang="less">
    /*-- -------------------------- -->
<---           Steps            -->
<--- -------------------------- -*/

    /* Mobile - 360px */
    @media only screen and (min-width: 0rem) {
        #steps-1674 {
            padding: var(--sectionPadding);
            padding-top: 0;

            .cs-container {
                width: 100%;
                max-width: (584/16rem);
                margin: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: clamp(3rem, 6vw, 4rem);
            }

            .cs-content {
                text-align: center;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .cs-title {
                max-width: 30ch;
            }

            .cs-text {
                max-width: (522/16rem);
                text-wrap: balance;
            }

            .cs-card-group {
                margin: 0;
                padding: 0;
                display: grid;
                justify-items: center;
                align-items: stretch;
                grid-auto-flow: row;
            }

            .cs-item {
                list-style: none;
                box-sizing: border-box;
                padding: clamp(1.5rem, 2vw, 3.75rem) 0;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                position: relative;

                &::after {
                    content: "";
                    width: 100%;
                    height: 1px;
                    background: linear-gradient(
                        90deg,
                        rgba(255, 255, 255, 0) 0%,
                        rgba(186, 186, 186, 1) 50%,
                        rgba(255, 255, 255, 0) 100%
                    );
                    opacity: 0.6;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }

                &:first-of-type {
                    padding-top: 0;
                }

                &:last-of-type {
                    padding-bottom: 0;

                    &::after {
                        content: none;
                    }
                }
            }

            .cs-number {
                width: (80/16rem);
                height: (80/16rem);
                margin: 0;
                border-radius: 50%;
                font-size: (61/16rem);
                font-weight: 900;
                line-height: 1.2em;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                margin: 0 0 clamp(1rem, 3vw, 2.5rem) 0;

                &:before {
                    content: "";
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    background: var(--primary);
                    opacity: 0.1;
                    position: absolute;
                    display: block;
                    top: 0;
                    left: 0;
                    z-index: -1;
                }
            }

            .cs-h3 {
                font-size: clamp(1.25rem, 2vw, 1.5625rem);
                font-weight: 700;
                line-height: 1.2em;
                margin: 0 0 (16/16rem) 0;
                color: var(--headerColor);
            }

            .cs-item-text {
                font-size: clamp(0.875rem, 1.5vw, 1rem);
                line-height: 1.5em;
                text-align: left;
                margin: 0;
                color: var(--bodyTextColor);
            }
        }
    }

    /* Tablet - 768px */
    @media only screen and (min-width: 48rem) {
        #steps-1674 {
            padding-left: 0;
            padding-right: 0;

            .cs-container {
                max-width: (1380/16rem);
            }

            .cs-card-group {
                grid-template-columns: repeat(4, 1fr);
                gap: 0;
            }

            .cs-item {
                padding: 0 clamp(1.5rem, 3vw, 3.75rem);

                &::after {
                    width: 1px;
                    height: 100%;
                    background: linear-gradient(
                        0deg,
                        rgba(255, 255, 255, 0) 0%,
                        rgba(186, 186, 186, 1) 50%,
                        rgba(255, 255, 255, 0) 100%
                    );
                    opacity: 0.6;
                    right: 0;
                    left: initial;
                }
            }
        }
    }

    /* Small Desktop - 1024px */
    @media only screen and (min-width: 64rem) {
        #steps-1674 {
            .cs-card-group {
                flex-wrap: nowrap;
            }
        }
    }

    /* Dark Mode */
    @media only screen and (min-width: 0rem) {
        body.dark-mode {
            #steps-1674 {
                .cs-topper {
                    color: var(--primaryLight);
                }
                .cs-title {
                    color: var(--bodyTextColorWhite);
                }

                .cs-item {
                    border-color: var(--bodyTextColorWhite);
                    &:after {
                        opacity: 0.2;
                    }
                }

                .cs-item-text,
                .cs-text {
                    color: var(--bodyTextColorWhite);
                    opacity: 0.8;
                }

                .cs-h3,
                .cs-number {
                    color: var(--primaryLight);
                }
            }
        }
    }

    /*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/

    /* Mobile - 360px */
    @media only screen and (min-width: 0rem) {
        #sbsr-2202 {
            padding: var(--sectionPadding);
            padding-bottom: 2rem;
            overflow: hidden;
            position: relative;
            z-index: 1;
        }
        #sbsr-2202 .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: 44rem;
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }
        #sbsr-2202 .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            max-width: 36.625rem;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }
        #sbsr-2202 .cs-title {
            max-width: 30ch;
        }
        #sbsr-2202 .cs-text {
            margin-bottom: 1.5rem;
        }
        #sbsr-2202 .cs-weekdays,
        #sbsr-2202 .cs-weekends {
            font-size: 1rem;
            font-weight: 700;
            line-height: 1.2em;
            text-transform: uppercase;
            letter-spacing: 1.6px;
            color: var(--bodyTextColor);
        }
        #sbsr-2202 .cs-weekdays {
            margin-bottom: 0.5rem;
        }
        #sbsr-2202 .cs-button-solid {
            font-size: 1rem;
            font-weight: 700;
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-align: center;
            text-decoration: none;
            min-width: 9.375rem;
            margin: 2rem 0 0 0;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
            padding: 0 1.5rem;
            background-color: var(--primary);
            color: #fff;
            display: inline-block;
            position: relative;
            z-index: 1;
        }
        #sbsr-2202 .cs-button-solid:before {
            content: "";
            width: 0%;
            height: 100%;
            background: #000;
            opacity: 1;
            border-radius: 0.25rem;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            transition: width 0.3s;
        }
        #sbsr-2202 .cs-button-solid:hover:before {
            width: 100%;
        }
        #sbsr-2202 .cs-image-group {
            /* scales the whole section down and ties the font size to the vw and stops at 75% of the vale of 1em, changes at desktop */
            font-size: min(2.3vw, 0.75rem);
            /* everything inside this box is in ems so we can scale it all down proportionally with a font size */
            width: 39.375em;
            height: 39.1875em;
            order: -1;
            position: relative;
            /* prevents flexbox from squishing it */
            flex: none;
        }
        #sbsr-2202 .cs-picture {
            overflow: hidden;
            border: 10px solid #fff;
            display: block;
            border-radius: 1rem;
            position: absolute;
        }
        #sbsr-2202 .cs-picture img {
            width: 100%;
            height: 100%;
            border-radius: 1rem;
            object-fit: cover;
            position: absolute;
            top: 0;
            right: 0;
        }
        #sbsr-2202 .cs-picture1 {
            width: 24em;
            height: 29.375em;
            left: 0;
            bottom: 0;
        }
        #sbsr-2202 .cs-picture2 {
            width: 21.5625em;
            height: 31.875em;

            top: 0;
            right: 0;
        }
        #sbsr-2202 .cs-flower {
            /* 137px - 309px */
            width: clamp(8.5625rem, 20vw, 19.3125rem);
            height: auto;
            display: block;
            position: absolute;
            right: -2rem;
            bottom: -0.5rem;
        }
    }
    /* Tablet - 768px */
    @media only screen and (min-width: 48rem) {
        #sbsr-2202 .cs-container {
            max-width: 80rem;
        }
        #sbsr-2202 .cs-flower {
            right: 0;
            bottom: 0;
        }
    }
    /* Desktop - 1024px */
    @media only screen and (min-width: 64rem) {
        #sbsr-2202 .cs-container {
            flex-direction: row;
            justify-content: center;
            align-items: stretch;
        }
        #sbsr-2202 .cs-content {
            text-align: left;
            padding: 3rem 0;
            align-self: center;
            align-items: flex-start;
        }
        #sbsr-2202 .cs-image-group {
            font-size: min(1.3vw, 1rem);
            height: auto;
            min-height: 39.1875em;
            order: 2;
        }
        #sbsr-2202 .cs-picture1 {
            height: 74.960128%;
        }
        #sbsr-2202 .cs-picture2 {
            height: 81.339719%;
        }
    }
    /* Dark Mode */
    @media only screen and (min-width: 0rem) {
        body.dark-mode #sbsr-2202 {
            background-color: rgba(0, 0, 0, 0.2);
        }
        body.dark-mode #sbsr-2202 .cs-title,
        body.dark-mode #sbsr-2202 .cs-text,
        body.dark-mode #sbsr-2202 .cs-weekdays,
        body.dark-mode #sbsr-2202 .cs-weekends {
            color: var(--bodyTextColorWhite);
        }
        body.dark-mode #sbsr-2202 .cs-text {
            opacity: 0.8;
        }
        body.dark-mode #sbsr-2202 .cs-picture {
            border-color: var(--accent);
        }
    }
</style>
