---
import { Picture } from "astro:assets";
import sidePicture1 from "@assets/images/sbspair/sbs1.jpg";
import sidePicture2 from "@assets/images/sbspair/sbs2.jpg";
import seal from "@assets/images/logo.png";
---

<!-- ============================================ --><!--                Side By Side                  --><!-- ============================================ -->
<section id="RPsbs-1008">
    <div class="cs-container">
        <div class="cs-image-group">
            <div class="cs-picture">
                <Picture src={sidePicture1} alt="whoweare" formats={["webp", "avif"]} />
            </div>
            <Picture
                src={seal}
                alt="seal"
                formats={["webp", "avif"]}
                class="cs-seal"
            />
        </div>
        <div class="cs-content">
            <span class="cs-topper">Our Story</span>
            <h2 class="cs-title">Who We Are</h2>
            <p class="cs-text">
                Our story began in April 2021. In an old, forgotten room at the back of a historic
                village pub in Camp, we brought new life to a once-overlooked
                space. Using recycled pallets and wood, we created Anne's Coffee
                Bar - a café that celebrates sustainability, creativity, and
                community.
                <!--Creates the space between p tags on mobile-->
                <span class="cs-spacer"></span>
                We're proud to offer a space where everyone feels at home. Whether
                you're enjoying a cappuccino with friends, relaxing after a walk
                on the Dingle Way, or indulging in a picnic on Sandy Beach, you'll
                find a warm welcome waiting for you here.
            </p>
            <a href="/about" class="cs-button-solid">Read more</a>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="RPsbsr-1008">
    <div class="cs-container">
        <div class="cs-image-group">
            <div class="cs-picture">
                <Picture
                    src={sidePicture2}
                    alt="beef"
                    formats={["webp", "avif"]}
                />
            </div>
            <!-- <Picture
                src={seal}
                alt="suppliers"
                formats={["webp", "avif"]}
                class="cs-seal"
            /> -->
        </div>
        <div class="cs-content">
            <span class="cs-topper">Why Choose Us</span>
            <h2 class="cs-title">Best in the West</h2>
            <p class="cs-text">
                At Anne's Coffee Bar, we go beyond great coffee. Every cup is
                brewed with care using ethically sourced beans, and our menu
                celebrates the best of the Dingle Peninsula with fresh, local
                ingredients.
                <span class="cs-spacer"></span>
                Whether you're relaxing by the fire, catching up with friends,
                or enjoying the view, our cozy atmosphere and friendly team make
                every visit special.
                <span class="cs-spacer"></span>
                We're proud to be part of the community, celebrating the people,
                flavors, and spirit of this incredible place we call home.
            </p>
            <a href="/suppliers" class="cs-button-solid">Learn more</a>
        </div>
    </div>
</section>

<style>
    /*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

    /* Mobile - 360px */
    @media only screen and (min-width: 0rem) {
        #RPsbs-1008,
        #RPsbsr-1008 {
            padding: var(--sectionPadding);
        }
        #RPsbs-1008 .cs-container,
        #RPsbsr-1008 .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: 50rem;
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }
        #RPsbs-1008 .cs-content,
        #RPsbsr-1008 .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            /* changes to 522px at desktop */
            max-width: 36.125rem;
            margin-top: -1rem;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        #RPsbs-1008 .cs-text,
        #RPsbsr-1008 .cs-text {
            margin-bottom: 1rem;
        }
        #RPsbs-1008 .cs-text:last-of-type,
        #RPsbsr-1008 .cs-text:last-of-type {
            margin-bottom: 2rem;
        }
        #RPsbs-1008 .cs-spacer,
        #RPsbsr-1008 .cs-spacer {
            width: 100%;
            /* 16px - 24px */
            height: clamp(1rem, 3vw, 1.5rem);
            display: block;
        }
        #RPsbs-1008 .cs-button-solid,
        #RPsbsr-1008 .cs-button-solid {
            font-size: 1rem;
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: 9.375rem;
            padding: 0 2rem;
            background-color: var(--primary);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
        }
        #RPsbs-1008 .cs-button-solid:before,
        #RPsbsr-1008 .cs-button-solid:before {
            content: "";
            position: absolute;
            height: 100%;
            width: 0%;
            background: #000;
            opacity: 1;
            top: 0;
            left: 0;
            z-index: -1;
            transition: width 0.3s;
        }
        #RPsbs-1008 .cs-button-solid:hover:before,
        #RPsbsr-1008 .cs-button-solid:hover:before {
            width: 100%;
        }
        #RPsbs-1008 .cs-image-group,
        #RPsbsr-1008 .cs-image-group {
            width: 100%;
        }
        #RPsbs-1008 .cs-picture,
        #RPsbsr-1008 .cs-picture {
            width: 100%;
            height: 16.3125rem;
            border: 12px solid #fff;
            background-color: #fff;
            display: block;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            position: relative;
            border-radius: 1rem;
        }
        #RPsbs-1008 .cs-picture img,
        #RPsbsr-1008 .cs-picture img {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            border-radius: 1rem;
            /* makes it behave like a background image */
            object-fit: cover;
        }
        #RPsbs-1008 .cs-seal,
        #RPsbsr-1008 .cs-seal {
            /* changes to a clamp(104px - 190px) at desktop */
            width: 6.5rem;
            height: auto;
            /* 104px - 190px */
            /* wrapped clamp in calc function to make the value negative, and multiply by half (.5) the height to it always overlaps the bg image by half its height */
            margin-top: calc(clamp(6.5rem, 12vw, 11.875rem) * -0.5);
            margin-left: auto;
            /* 28px - 120px */
            margin-right: clamp(1.75rem, 10vw, 7.5rem);
            background-color: #fff;
            border: clamp(6px, 0.8vw, 12px) solid #ffffff;
            border-radius: 50%;
            display: block;
            position: relative;
            /* make it rest on top of the bg picture */
            z-index: 10;
        }
    }
    /* Tablet - 768px */
    @media only screen and (min-width: 48rem) {
        #RPsbs-1008 .cs-container,
        #RPsbsr-1008 .cs-container {
            align-items: flex-start;
        }
        #RPsbs-1008 .cs-flex-group,
        #RPsbsr-1008 .cs-flex-group {
            flex-direction: row;
        }
        #RPsbs-1008 .cs-text,
        #RPsbsr-1008 .cs-text {
            columns: 2;
            column-gap: 1.5rem;
        }
        #RPsbs-1008 .cs-spacer,
        #RPsbsr-1008 .cs-spacer {
            display: none;
        }
    }
    /* Small Desktop - 1024px */
    @media only screen and (min-width: 64rem) {
        #RPsbs-1008 .cs-container,
        #RPsbsr-1008 .cs-container {
            max-width: 80rem;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            /* 100px - 200px */
            gap: clamp(6.25rem, 13vw, 12.5rem);
        }
        #RPsbs-1008 .cs-image-group,
        #RPsbsr-1008 .cs-image-group {
            max-width: 33.875rem;
            display: flex;
            justify-content: flex-end;
            position: relative;
        }
        #RPsbs-1008 .cs-picture,
        #RPsbsr-1008 .cs-picture {
            height: 28.75rem;
            aspect-ratio: initial;
        }
        #RPsbs-1008 .cs-seal,
        #RPsbsr-1008 .cs-seal {
            /* 104 - 190px */
            width: clamp(6.5rem, 13vw, 11.875rem);
            margin: 0;
            position: absolute;
            top: 50%;
            /* subtract 12px (.75rem) to account for the border */
            right: calc((clamp(6.5rem, 13vw, 11.875rem) * -0.5) + -0.75rem);
            transform: translateY(-50%);
        }
        #RPsbs-1008 .cs-content,
        #RPsbsr-1008 .cs-content {
            flex: none;
            width: 54%;
            max-width: 33.875rem;
        }
    }

    /*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/

    /* Mobile - 360px */
    @media only screen and (min-width: 0rem) {
        #RPsbs-1008 {
            background-color: var(--backgroundColor);
        }
    }
    /* Small Desktop - 1024px */
    @media only screen and (min-width: 64rem) {
        #RPsbsr-1008 .cs-container {
            justify-content: flex-end;
        }
        #RPsbsr-1008 .cs-image-group {
            /* sends it to the right in the 2nd position */
            order: 2;
        }
        #RPsbsr-1008 .cs-seal {
            /* subtract 12px (.75rem) to account for the border */
            left: calc((clamp(6.5rem, 13vw, 11.875rem) * -0.5) + -0.75rem);
            right: auto;
        }
    }
</style>
