---
// Import the component and all the images you want to use with it
import CSPicture from "@components/TemplateComponents/CSPicture.astro";
import mobileImage from "@assets/images/hero/team.jpg";
import desktopImage from "@assets/images/hero/team.jpg";
import fallbackImage from "@assets/images/hero/team.jpg";
import { Picture } from "astro:assets";
---

<section id="sbs-1015">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Enjoy a cuppa</span>
            <h2 class="cs-title">Where the mountains meet the ocean</h2>
            <p class="cs-text">
                Discover a menu crafted with love and a commitment to
                sustainability. From perfectly brewed cappuccinos to our famous
                home-baked treats, everything we serve reflects our dedication
                to quality and eco-friendly practices. With options for every
                palate, including gluten-free specialties and locally sourced
                ingredients, you're guaranteed a meal as unique as the Wild
                Atlantic setting.
            </p>
            <a href="/menu" class="cs-button-solid">See Our Menu</a>
        </div>
        <div class="cs-image-group">
            <picture class="cs-picture cs-picture1">
                <source
                    media="(max-width: 600px)"
                    srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/turbine1.jpg"
                />
                <source
                    media="(min-width: 601px)"
                    srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/turbine1.jpg"
                />
                <img
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/turbine1.jpg"
                    alt="turbine"
                    width="500"
                    height="729"
                    aria-hidden="true"
                />
            </picture>
            <picture class="cs-picture cs-picture2">
                <source
                    media="(max-width: 600px)"
                    srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/windmill.jpg"
                />
                <source
                    media="(min-width: 601px)"
                    srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/windmill.jpg"
                />
                <img
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/windmill.jpg"
                    alt="windmill"
                    width="378"
                    height="460"
                    aria-hidden="true"
                />
            </picture>
        </div>
        <!-- <div class="cs-picture">
            <Picture
                src={desktopImage}
                format="webp"
                width={955}
                height={552}
                alt={""}
            />
        </div> -->
    </div>
</section>
<style>
    /*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

    /* Mobile - 360px */
    @media only screen and (min-width: 0rem) {
        #sbs-1015 {
            /* prevents the overflowing cs-picture at large desktop from causing overflow issues */
            overflow: hidden;
        }
        #sbs-1015 .cs-container {
            width: 100%;
            max-width: 80rem;
            /* 16px - 20px */
            margin: 0 auto clamp(1rem, 1.5vw, 1.25rem);
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 7vw, 4rem);
            position: relative;
        }
        #sbs-1015 .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            max-width: 33.125rem;
            /* moved section padding to the content area */
            padding: var(--sectionPadding);
            padding-bottom: 0;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        #sbs-1015 .cs-text {
            margin: 0 0 2rem;
        }
        #sbs-1015 .cs-button-solid {
            font-size: 1rem;
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: 9.375rem;
            padding: 0 2rem;
            background-color: var(--primary);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
        }
        #sbs-1015 .cs-button-solid:before {
            content: "";
            position: absolute;
            height: 100%;
            width: 0%;
            background: #000;
            opacity: 1;
            top: 0;
            left: 0;
            z-index: -1;
            transition: width 0.3s;
        }
        #sbs-1015 .cs-button-solid:hover:before {
            width: 100%;
        }
        #sbs-1015 .cs-picture {
            width: 100%;
            height: 30rem;
            display: block;
            position: relative;
        }
        #sbs-1015 .cs-picture img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
        }
        #sbs-1015 .cs-image-group {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            /* 16px - 20px */
            gap: clamp(1rem, 1.5vw, 1.25rem);
        }
        #sbs-1015 .cs-image {
            width: 100%;
            /* 170px - 284px */
            height: clamp(10.625rem, 32vw, 17.75rem);
            display: block;
            grid-column: span 6;
            position: relative;
        }
        #sbs-1015 .cs-image:nth-of-type(3),
        #sbs-1015 .cs-image:nth-of-type(4),
        #sbs-1015 .cs-image:nth-of-type(5) {
            display: none;
        }
        #sbs-1015 .cs-image img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    /* Tablet - 768px */
    @media only screen and (min-width: 48rem) {
        #sbs-1015 .cs-container {
            /* moved section padding to the container */
            padding: var(--sectionPadding);
            //padding-bottom: 0;
            /* remove padding-right so the image touches the right screen edge */
            padding-right: 0;
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            flex-direction: row;
            justify-content: space-between;
        }
        #sbs-1015 .cs-content {
            text-align: left;
            padding: 0;
            align-items: flex-start;
        }
        #sbs-1015 .cs-image {
            grid-column: span 4;
        }
        #sbs-1015 .cs-image:nth-of-type(3) {
            display: block;
        }
        body #sbs-1015 .cs-picture img {
            left: 0;
            border-top-left-radius: 1rem;
            border-bottom-left-radius: 1rem;
        }
    }
    /* Large Desktop - 1200px */
    @media only screen and (min-width: 75rem) {
        #sbs-1015 {
            /* moved section padding to the section but removed all padding except the padding top.  We're moving the padding top from the container to the section container so we can place the cs-picture easier inside the cs-container. If the Stitch below this Stitch is on a white background, add padding-bottom:0; to this one so there's not a huge gap between the sections. */
            padding: var(--sectionPadding);
            padding-left: 0;
            padding-right: 0;
        }
        #sbs-1015 .cs-container {
            padding-top: 0;
        }
        #sbs-1015 .cs-content {
            padding: 3.25rem 0;
        }
        #sbs-1015 .cs-picture {
            width: 50vw;
            height: 100%;
            margin: 0 0 0 0.625rem;
            /* absolutely positioned so it can rest on the right edge of the screen, and its height will respond the the changing height of the cs-content when you add or subtract content */
            position: absolute;
            left: 50%;
            top: 0;
        }
        #sbs-1015 .cs-image-group {
            grid-template-columns: repeat(5, 1fr);
        }
        #sbs-1015 .cs-image {
            grid-column: span 1;
        }
        #sbs-1015 .cs-image:nth-of-type(4),
        #sbs-1015 .cs-image:nth-of-type(5) {
            display: block;
        }
    }
</style>
