---
import { Picture, Image } from "astro:assets";
import Button from "@components/ui/button.astro";
import client from "@data/client.json";

import logoIcon from "@assets/images/logo_icon.png";
import DividerTop from "@assets/divider-top.astro";
import DividerBottom from "@assets/divider-bottom.astro";
import image1 from "@assets/images/sbsl/Image@2x.png";
import HeartbeatIcon from "@assets/icons/heartbeat.astro";
import LotusIcon from "@assets/icons/lotus.astro";
import PsychologyIcon from "@assets/icons/psychology.astro";
---

<section id="sbs-1443" class="relative">
    <DividerTop />
    <div class="cs-container">
        <div class="cs-picture self-center">
            <Picture src={image1} alt="image1" width={567} height={589} />
        </div>
        <div class="cs-content">
            <div class="flex items-center gap-4 mb-4">
                <Image src={logoIcon} alt="logo" width={32} height={32} />
                <span class="cs-topper mb-0 text-header-secondary"
                    >Why Breathave?</span
                >
            </div>
            <h2 class="cs-title">Discover the Benefits of Breathwork</h2>
            <ul class="cs-card-group">
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <HeartbeatIcon width={40} height={40} />
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Reduce Stress and Anxiety</h3>
                        <p class="cs-li-text">
                            Conscious connected breathing helps you manage
                            stress and calm the mind. By letting go of old
                            stories and limiting beliefs, you can embrace
                            emotional resilience and creativity while finding
                            inner balance. All the breathing modalities used in
                            Breathwave support the nervous system in ways that
                            enable you to manage stressors and quieten the mind.
                            This practice helps reframe unhelpful patterns of
                            limiting stories.
                        </p>
                    </div>
                </li>
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <LotusIcon width={40} height={40} />
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Nervous System Repair and Healing</h3>
                        <p class="cs-li-text">
                            Your breath is the gateway to your nervous system.
                            With regular breathwork practice, you can soothe and
                            regulate your nervous system, helping you shift out
                            of fight-or-flight mode and into a more relaxed,
                            restorative state. Building emotional resiliency
                            with Breathwave offers a level of balance where
                            focus and the quality of our relationships are
                            enabled with how your boundaries are rooted to your
                            values. Your creative flow is more available with an
                            empowered self belief.
                        </p>
                    </div>
                </li>
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <PsychologyIcon width={40} height={40} />
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Reduced Inflammation and Recovery</h3>
                        <p class="cs-li-text">
                            Breathwave supports increased energy and improved
                            oxygen delivery in the body that enables better
                            physical recovery. Whether you're an athlete or
                            simply looking to boost your daily energy levels,
                            breathwork will help you reach your full potential.
                            Breathwave incorporates conscious connected
                            breathing and functional breathing practices to
                            further enhance your mental and physical well-being.
                        </p>
                    </div>
                </li>
            </ul>

            <div class="mt-8 w-full text-center">
                <Button href={client.membersUrl} text="Start Your Journey" />
            </div>
        </div>
    </div>
    <DividerBottom />
</section>

<style lang="less">
    /*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

    /* Mobile - 360px */
    @media only screen and (min-width: 0rem) {
        #sbs-1443 {
            padding: clamp(5.75rem, 10.82vw, 7.25rem) 1rem;
            overflow: hidden;
            background-color: var(--backgroundColor);

            .cs-container {
                width: 100%;
                /* changes to 1280px at desktop */
                max-width: (550/16rem);
                margin: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                /* 48px - 64px */
                gap: clamp(3rem, 6vw, 4rem);
                position: relative;
            }

            .cs-content {
                /* set text align to left if content needs to be left aligned */
                text-align: left;
                width: 100%;
                max-width: (670/16rem);
                display: flex;
                flex-direction: column;
                /* centers content horizontally, set to flex-start to left align */
                align-items: flex-start;
            }

            .cs-text {
                margin-bottom: (16/16rem);
                &:last-of-type {
                    margin-bottom: (32/16rem);
                }
            }

            .cs-card-group {
                width: 100%;
                max-width: (630/16rem);
                margin: 0 0 (32/16rem) 0;
                padding: 0;
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                gap: (24/16rem);
            }

            .cs-li {
                list-style: none;
                margin: 0;
                padding: 0;
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                /* 16px - 20px */
                gap: clamp(1rem, 2.5vw, 1.25rem);
            }

            .cs-li-picture {
                width: (80/16rem);
                height: (80/16rem);
                margin: 0;
                border-radius: 50%;
                background-color: #fff;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                /* prevents flexbox from squishing it */
                flex: none;
                position: relative;
                z-index: 1;

                &:before {
                    content: "";
                    width: 100%;
                    height: 100%;
                    background: var(--primary);
                    opacity: 0.1;
                    position: absolute;
                    display: block;
                    top: 0;
                    left: 0;
                    z-index: -1;
                }
            }

            .cs-li-icon {
                width: (32/16rem);
                height: auto;
                display: block;
            }

            .cs-h3 {
                font-size: (20/16rem);
                line-height: 1.2em;
                font-weight: 500;
                text-align: left;
                margin: 0 0 (12/16rem) 0;
                color: var(--headerColorSecondary);
            }

            .cs-li-text {
                font-size: (16/16rem);
                line-height: 1.5em;
                text-align: left;
                margin: 0;
                color: var(--bodyTextColor);
            }

            .cs-button-solid {
                font-size: (16/16rem);
                /* 46px - 56px */
                line-height: clamp(2.875rem, 5.5vw, 3.5rem);
                text-decoration: none;
                font-weight: 700;
                text-align: center;
                margin: 0;
                color: #fff;
                min-width: (150/16rem);
                padding: 0 (32/16rem);
                background-color: var(--primary);
                border-radius: (4/16rem);
                display: inline-block;
                position: relative;
                z-index: 1;
                /* prevents padding from adding to the width */
                box-sizing: border-box;

                &:before {
                    content: "";
                    position: absolute;
                    height: 100%;
                    width: 0%;
                    background: #000;
                    opacity: 1;
                    top: 0;
                    left: 0;
                    z-index: -1;
                    border-radius: (4/16rem);
                    transition: width 0.3s;
                }

                &:hover {
                    &:before {
                        width: 100%;
                    }
                }
            }

            .cs-picture {
                width: 100%;
                max-width: (567/16rem);
                min-height: (589/16rem);
                border-radius: (24/16rem);
                /* clips img tag corners */
                overflow: hidden;
                display: block;
                position: relative;
                z-index: 1;

                img {
                    width: 100%;
                    height: 100%;
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    object-fit: cover;
                }
            }
        }
    }

    /* Small Desktop - 1024px */
    @media only screen and (min-width: 64rem) {
        #sbs-1443 {
            padding: clamp(7.75rem, 10.82vw, 7.25rem) 1rem;
            .cs-container {
                max-width: (1280/16rem);
                flex-direction: row;
                justify-content: space-between;
                align-items: stretch;
                position: relative;
            }

            .cs-content {
                width: 55%;
                padding: (40/16rem) 0;
            }

            .cs-picture {
                display: flex;
                height: auto;
                max-height: (589/16rem);
                width: 45%;
            }

            .cs-h3 {
                font-size: (24/16rem);
            }
        }
    }

    /* Dark Mode */
    @media only screen and (min-width: 0rem) {
        body.dark-mode {
            #sbs-1443 {
                .cs-title,
                .cs-text,
                .cs-li,
                .cs-h3,
                .cs-li-text {
                    color: var(--bodyTextColorWhite);
                }

                .cs-li-text,
                .cs-text {
                    opacity: 0.8;
                }

                .cs-li-picture {
                    background-color: var(--dark);
                }
            }
        }
    }
</style>
